/* config/macros.dtsi */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        minimize_tree: minimize_tree_macro {
            compatible = "zmk,behavior-macro";
            label = "MINIMIZE_TREE";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp C &macro_release>;
        };

        hide_hovered_component: hide_hovered_component_macro {
            compatible = "zmk,behavior-macro";
            label = "HIDE_HOVERED_COMPONENT";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LSHIFT &kp TAB &macro_release>;
        };

         show_hidden_components: show_hidden_components_macro {
            compatible = "zmk,behavior-macro";
            label = "SHOW_HIDDEN_COMPONENTS";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp LSHIFT &kp TAB &macro_release>;
        };

        isolate: isolate_macro {
            compatible = "zmk,behavior-macro";
            label = "ISOLATE";
            #binding-cells = <0>;
            bindings = <&macro_press &kp KP_NUMBER_1 &macro_release>;
        };

        construction: construction_macro {
            compatible = "zmk,behavior-macro";
            label = "CONSTRUCTION";
            #binding-cells = <0>;
            bindings = <&macro_press &kp KP_NUMBER_2 &macro_release>;
        };

        measure: measure_macro {
            compatible = "zmk,behavior-macro";
            label = "MEASURE";
            #binding-cells = <0>;
            bindings = <&macro_press &kp KP_NUMBER_3 &macro_release>;
        };

        shortcutbar: shortcutbar_macro {
            compatible = "zmk,behavior-macro";
            label = "SHORTCUTBAR";
            #binding-cells = <0>;
            bindings = <&macro_press &kp KP_NUMBER_4 &macro_release>;
        };

        escape: escape_macro {
            compatible = "zmk,behavior-macro";
            label = "ESCAPE";
            #binding-cells = <0>;
            bindings = <&macro_press &kp KP_NUMBER_5 &macro_release>;
        };

        save: save_macro {
            compatible = "zmk,behavior-macro";
            label = "SAVE";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp S &macro_release>;
        };

        equations: equations_macro {
            compatible = "zmk,behavior-macro";
            label = "EQUATIONS";
            #binding-cells = <0>;
            bindings = <&macro_press &kp KP_NUMBER_6 &macro_release>;
        };

        snapnormalto: snapnormalto_macro {
            compatible = "zmk,behavior-macro";
            label = "SNAPNORMALTO";
            #binding-cells = <0>;
            bindings = <&macro_press &kp KP_NUMBER_7 &macro_release>;
        };

        switchtabs: switchtabs_macro {
            compatible = "zmk,behavior-macro";
            label = "SWITCHTABS";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp TAB &macro_release>;
        };

        fit: fit_macro {
            compatible = "zmk,behavior-macro";
            label = "FIT";
            #binding-cells = <0>;
            bindings = <&macro_press &kp KP_NUMBER_8 &macro_release>;
        };

        alttab: alttab_macro {
            compatible = "zmk,behavior-macro";
            label = "ALTTAB";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT &kp TAB &macro_release>;
        };

        quote: quote_macro {
            compatible = "zmk,behavior-macro";
            label = "QUOTE";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp DQT &kp SPACE>;
        };

        test: test_macro {
            compatible = "zmk,behavior-macro";
            label = "TEST";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LCTRL &kp B &macro_release>;
        };

       hideunhide: hideunhide_macro {
            compatible = "zmk,behavior-hold-tap";
            label = "HIDEUNHIDE";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&show_hidden_components>, <&hide_hovered_component>;
        };
    };
};
