/* config/zmk-user.keymap */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "macros.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 1
                &name1  &name2  &name3  &kp N4  &lt 1 K_MOD
                // Row 2
                &kp Q   &kp W   &kp E   &kp R   &kp T
                // Row 3
                &kp A   &kp S   &kp D   &kp F   &kp G
                // Row 4
                &kp Z   &kp X   &kp C   &kp V   &kp B
                // Row 5
                &mo 1   &kp K   &kp L   &kp M   &kp DOT
                // Row 6 (Only Col 3 and Col 4 are real keys, 27 total keys)
                &kp COMMA &kp ENTER
            >;
        };

       /* MOD layer (activated by K_MOD tap/hold) */
        layer_1 {
            bindings = <
                // Must match the 6x5 matrix size
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans
                &trans &trans
            >;
        };
    };
};
