/* config/zmk-user.keymap */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "macros.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 1
                &holdtaptest &kp C
                // Row 2
                &construction &kp PLUS &kp N0 &kp STAR &minimize_tree
                // Row 3
                &shortcutbar &kp N1 &kp N2 &kp N3 &bootloader
                // Row 4
                &escape &kp N4 &kp N5 &kp N6 &kp LC(Z)
                // Row 5
                &kp DEL &kp N7 &kp N8 &kp N9 &mo 1
                // Row 6 
                &save    &equations    &snapnormalto    &fit    &kp ENTER
            >;
        };

       /* MOD layer (activated by K_MOD tap/hold) */
        layer_1 {
            bindings = <
                // Row 1
                &isolate &trans
                // Row 2
                &measure &kp MINUS &kp EQUAL &kp SLASH &trans
                // Row 3
                &trans &quote &kp UP &kp BACKSPACE &trans
                // Row 4
                &trans &kp LEFT &kp DOWN &kp RIGHT &kp LC(Y)
                // Row 5
                &trans &trans &trans &trans &trans
                // Row 6
                &trans &trans &switchtabs &alttab &trans
            >;
        };
    };
};
