/* config/zmk-user.keymap */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 1 (5 keys)
                &kp Q  &kp W  &kp E  &kp R  &kp T
                // Row 2 (5 keys)
                &kp Y  &kp U  &kp I  &kp O  &kp P
                // Row 3 (5 keys)
                &kp A  &kp S  &kp D  &kp F  &kp G
                // Row 4 (5 keys)
                &kp H  &kp J  &kp K  &kp L  &kp Z
                // Row 5 (5 keys)
                &kp X  &kp C  &kp V  &kp B  &kp N
                // Row 6 (2 keys)
                &kp M  &kp 0
            >;
        };
    };
};
